
<h3>Convert Voice to Text</h3>
<p id="info"></p>
<p><%= button_tag 'Start Speaking',id: "start_button", onclick: "startButton(event)",class: 'btn btn-success'%></p>
<p><%= text_area_tag :final_span,nil,rows: 10, cols: 50%></p>
<%=link_to 'Text To Voice','#',onclick:"tovoice();",class: 'btn btn-success'%>


<script type="text/javascript">
  function tovoice (argument) {
     var msg = document.getElementById('final_span').value
    // speechSynthesis.speak(new SpeechSynthesisUtterance(msg));
    var utterance = new SpeechSynthesisUtterance(msg);
      utterance.lang = 'en-US';
    //utterance.lang = 'hi';
    window.speechSynthesis.speak(utterance);
  }
</script>