<div class="row">
  <div class="box col-md-12">
  <div class="box-inner">
    <div class="box-header well">
      <h2>User Search</h2>
    </div>
   <div class="box-content">
 <table class="table table-striped table-bordered responsive">
<%= form_for :advance_search, url:{action:'search_user'}, method: :get,remote:true,html:{id: "user_form"} do |f|%>

    <tbody>
<p id="info"></p>

  <div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-addon">
       <%= button_tag 'Start Speaking',id: "start_button", onclick: "startButton(event)"%>
      </span>
      <%= text_area_tag :final_span,nil,{oninput:"$('#user_form').submit();", class: 'form-control',placeholder:'Search by name', style: 'width:250px'}%>
        </td>
    </div><!-- /input-group -->
  </div>
  
<%end%>
</tbody>
</table>
</div>
</div>
</div>
</div>
<div class="user_search"></div>
 